<launch>

	<arg name="frequency" default = "10" />

	<node pkg="beginner_tutorials" name="talker" type="talker"
		args= "$(arg frequency)" output= "screen">
	</node>

	<node pkg="beginner_tutorials" name="listener" type="listener"
		 output= "screen">
	</node>

	<node pkg = "rosbag" name= "rosbag_record_all" type= "record"
  		args = "-a -O bagfile" output = "screen" 
  		if="$(eval rosbagFlag == true)">
  	</node>

</launch>